<link href="@Url.Content("~/css/AboutUs.css")" rel="stylesheet" type="text/css" />

<nav></nav>
<div class="header">
</div>

<div class="container">

    <div class="aboutus">
        <div class="left">
            <h1>About us</h1>
            <p>Discover a realm of premier shopping, exquisite dining, and captivating entertainment – all converging within our mall. Join us in celebrating style, culture, and community, as we redefine the art of shopping. Welcome to a space where moments are purposeful and distinction thrives.</p>
            <p>Step into a world where style, taste, and culture harmonize. Explore unparalleled shopping, culinary delights, and exhilarating entertainment, meticulously curated for an unforgettable journey. Experience an immersive realm of elegance and excitement that redefines the ordinary.</p>
        </div>
        <div class="right">
            <img src="/images/about2.jpg">
        </div>
        <div class="clear"></div>
    </div>



    <div class="mission">

        <div class="left">
            <img src="/images/about7.png">
        </div>
        <div class="right">
            <h1>Mission Statement</h1>
            <p>Our mall seamlessly combines premier shopping, dining, and entertainment, fostering connections and moments of inspiration. With diverse offerings, we celebrate culture and create lasting memories for visitors.</p>

            <p>We redefine shopping by curating style, taste, and culture. Our unique destination harmonizes retail, culinary excellence, and entertainment, inviting exploration and embracing diversity for memorable experiences.</p>

        </div>
        <div class="clear"></div>

    </div>


    <div class="ourteam"><h1> Our Team</h1></div>

    <div class="team">


        <div class="card">
            <img src="~/images/about6.jpeg" />
            <h4>Ayodele Daramola</h4>
            <h5>Team member</h5>
            <p>A Fullstack Developer in C# ASP.NET MVC</p>
        </div>



        <div class="card">
            <img src="~/images/about5.jpg" />
            <h4>Richard Ayilara</h4>
            <h5>Team member</h5>
            <p>A Fullstack Developer in C# ASP.NET MVC</p>
        </div>



        <div class="card">
            <img src="~/images/about2.jpg" />
            <h4>Ugbodaga Augustine</h4>
            <h5>Team member</h5>
            <p>A Fullstack Developer in C# ASP.NET MVC</p>
        </div>


        <div class="card">
            <img src="~/images/about2.jpg" />
            <h4>Dairo Timileyin</h4>
            <h5>Team member</h5>
                <p>A Fullstack Developer in C# ASP.NET MVC</p>
        </div>

        <div class="card">
            <img src="~/images/about8.jpeg" />
            <h4> Adewuyi Latifat</h4>
            <h5>Team member</h5>
                <p>A Fullstack Developer in C# ASP.NET MVC</p>
        </div>



        <div class="card">
            <img src="~/images/about9.jpeg" />
            <h4>Umanah Uduak</h4>
            <h5>Team member</h5>
                <p>A Fullstack Developer in C# ASP.NET MVC</p>
        </div>


    </div>


</div>



<script src="~/js/site.js"></script>