
@{
    ViewData["Title"] = "Popular Section";
}

<link href="@Url.Content("~/css/MostPopular.css")" rel="stylesheet" type="text/css" />

<div class="container">
    
    
        <div class="image">
            <img src="~/images/Chocolate_Milk_Carton.png" alt="" />
        </div>
        <div class="chocolate">
            <h4 class="milk">Chocolate Milk Carton</h4>
            <p></p>
        </div>
    
</div>
