@model RestaurantFrontend.Models.CustomerSupportEntity.CustomerSupport

@{
    ViewData["Title"] = "Index";
}
<link href="@Url.Content("~/css/CustomerSupport.css")" rel="stylesheet" type="text/css" />




<h1>Customer Support</h1>
<div class="top-Paragraph-Container">
    <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place 
       for you to tell a story and let your users know a little more about you.</p>
</div>








<div class="form-container">
    <img src="~/images/CustomerServiceImage.jpg" />

    <div>

<div class=" form-contents">
    <h2>We're Here to Help!</h2>
        <p>Fill out the form with any quarry on  <br />your mind and we'll get back to you as  <br />soon as possible</p>
    <div class="">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group1">
            <div class="form-group">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input asp-for="FirstName" class="" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="input-container">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input asp-for="LastName" class="" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            </div>

            <div class="input-group1">
            <div class="form-group">
                <label asp-for="Email" class="form-label"> Email *</label>
                <input asp-for="Email" class="" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="input-container">
                <label asp-for="PhoneNumber" class="form-label">Phone</label>
                <input asp-for="PhoneNumber" class="" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            </div>

           <div class="input-group1">
            <div class="form-group">
                <label asp-for="Message" class="form-label">Leave us a message...</label>
                        <textarea asp-for="Message" class="input-message" rows="1" placeholder=""></textarea>
               
            </div>
                    <span asp-validation-for="Message" class="text-danger"></span>
          
           </div>
                <div class="form-group">
                    <a type="submit" value="Create" class="submit-button"> Submit </a>
                </div>

        </form>
    </div>



</div>


        <div class="Chat-with-us">

            <h4>Chat with Our Support Team</h4>

            <p>I'm a paragrah. Click here to add your <br />own text and edit me  </p>

            <div class="form-group">
                <a type="submit" value="Create" class="message-button"> Message Us </a>
            </div>
        </div>

</div>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
