@model RestaurantFrontend.Models.CustomerSupportEntity.CustomerSupport

@{
    ViewData["Title"] = "Index";
}
<link href="@Url.Content("~/css/CustomerSupport.css")" rel="stylesheet" type="text/css" />




<h1>Customer Support</h1>
<div class="top-Paragraph-Container">
    <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place 
       for you to tell a story and let your users know a little more about you.</p>
</div>








<div class="form-container">
    <img src="~/images/CustomerServiceImage.jpg" />

    <div>

<div class=" form-contents">
    <h2>We're Here to Help!</h2>
        <p>Fill out the form with any quarry on  <br />your mind and we'll get back to you as  <br />soon as possible</p>
    <div class="">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group1">
            <div class="form-group">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input asp-for="FirstName" class="" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="input-container">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input asp-for="LastName" class="" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            </div>

            <div class="input-group1">
            <div class="form-group">
                <label asp-for="Email" class="form-label"> Email *</label>
                <input asp-for="Email" class="" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="input-container">
                <label asp-for="PhoneNumber" class="form-label">Phone</label>
                <input asp-for="PhoneNumber" class="" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            </div>

           <div class="input-group1">
            <div class="form-group">
                <label asp-for="Message" class="form-label">Leave us a message...</label>
                        <textarea asp-for="Message" class="input-message" rows="1" placeholder=""></textarea>
               
            </div>
                    <span asp-validation-for="Message" class="text-danger"></span>
          
           </div>
                <div class="form-group">
                    <a type="submit" value="Create" class="submit-button"> Submit </a>
                </div>

        </form>
    </div>



</div>


        <div class="Chat-with-us">

            <h4>Chat with Our Support Team</h4>

            <p>I'm a paragrah. Click here to add your <br />own text and edit me  </p>

            <div class="form-group">
                <a type="submit" value="Create" class="message-button"> Message Us </a>
            </div>
        </div>

</div>

</div>





<div class="section-2">
<div class="find-us">
        <h2>You Can Find Us in Any of <br />These Locations</h2>
        <p>I'm a paragraph. Click here to add your own text and edit  <br />me. Let your users get to know you.</p>
</div>



<div class="location-tabs-container">

    <div class="location-tab">
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="33.5 20 133 160" viewBox="33.5 20 133 160" height="30" width="30" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" fill="red" aria-labelledby="comp-kp5l0k81-svgtitle_comp-kp5l0k81">
                <title id="comp-kp5l0k81-svgtitle_comp-kp5l0k81"></title>
                <g>
                    <path d="M99.997 60c-14.69 0-26.599 11.94-26.599 26.668 0 14.727 11.909 26.667 26.599 26.667s26.599-11.94 26.599-26.667C126.596 71.94 114.687 60 99.997 60zm0 40.001c-7.345 0-13.299-5.971-13.299-13.333 0-7.364 5.954-13.334 13.299-13.334s13.3 5.97 13.3 13.334c0 7.362-5.955 13.333-13.3 13.333zm0-80.001C63.273 20 33.5 49.849 33.5 86.667 33.5 123.486 99.997 180 99.997 180S166.5 123.486 166.5 86.667C166.5 49.849 136.724 20 99.997 20zm0 140.001s-53.198-43.879-53.198-73.335c0-29.454 23.819-53.333 53.198-53.333 29.383 0 53.2 23.879 53.2 53.333 0 29.457-53.2 73.335-53.2 73.335z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </g>
            </svg>

        <h4>Location 01</h4>
            <p>
                500 Terry Francine Street<br />

                San Francisco, CA 94158<br />

                123-456-7890
            </p>
    </div>
        <div class="location-tab">
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="33.5 20 133 160" viewBox="33.5 20 133 160" height="30" width="30" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" fill="red" aria-labelledby="comp-kp5l0k81-svgtitle_comp-kp5l0k81">
                <title id="comp-kp5l0k81-svgtitle_comp-kp5l0k81"></title>
                <g>
                    <path d="M99.997 60c-14.69 0-26.599 11.94-26.599 26.668 0 14.727 11.909 26.667 26.599 26.667s26.599-11.94 26.599-26.667C126.596 71.94 114.687 60 99.997 60zm0 40.001c-7.345 0-13.299-5.971-13.299-13.333 0-7.364 5.954-13.334 13.299-13.334s13.3 5.97 13.3 13.334c0 7.362-5.955 13.333-13.3 13.333zm0-80.001C63.273 20 33.5 49.849 33.5 86.667 33.5 123.486 99.997 180 99.997 180S166.5 123.486 166.5 86.667C166.5 49.849 136.724 20 99.997 20zm0 140.001s-53.198-43.879-53.198-73.335c0-29.454 23.819-53.333 53.198-53.333 29.383 0 53.2 23.879 53.2 53.333 0 29.457-53.2 73.335-53.2 73.335z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </g>
            </svg>

            <h4>Location 02</h4>
            <p>
                500 Terry Francine Street<br />

                San Francisco, CA 94158<br />

                123-456-7890
            </p>
        </div>
         <div class="location-tab">
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="33.5 20 133 160" viewBox="33.5 20 133 160" height="30" width="30" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" fill="red" aria-labelledby="comp-kp5l0k81-svgtitle_comp-kp5l0k81">
                <title id="comp-kp5l0k81-svgtitle_comp-kp5l0k81"></title>
                <g>
                    <path d="M99.997 60c-14.69 0-26.599 11.94-26.599 26.668 0 14.727 11.909 26.667 26.599 26.667s26.599-11.94 26.599-26.667C126.596 71.94 114.687 60 99.997 60zm0 40.001c-7.345 0-13.299-5.971-13.299-13.333 0-7.364 5.954-13.334 13.299-13.334s13.3 5.97 13.3 13.334c0 7.362-5.955 13.333-13.3 13.333zm0-80.001C63.273 20 33.5 49.849 33.5 86.667 33.5 123.486 99.997 180 99.997 180S166.5 123.486 166.5 86.667C166.5 49.849 136.724 20 99.997 20zm0 140.001s-53.198-43.879-53.198-73.335c0-29.454 23.819-53.333 53.198-53.333 29.383 0 53.2 23.879 53.2 53.333 0 29.457-53.2 73.335-53.2 73.335z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </g>
            </svg>

            <h4>Location 03</h4>
            <p>
                500 Terry Francine Street<br />

                San Francisco, CA 94158<br />

                123-456-7890
            </p>
        </div>

        <div class="location-tab">
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="33.5 20 133 160" viewBox="33.5 20 133 160" height="30" width="30" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" fill="red" aria-labelledby="comp-kp5l0k81-svgtitle_comp-kp5l0k81">
                <title id="comp-kp5l0k81-svgtitle_comp-kp5l0k81"></title>
                <g>
                    <path d="M99.997 60c-14.69 0-26.599 11.94-26.599 26.668 0 14.727 11.909 26.667 26.599 26.667s26.599-11.94 26.599-26.667C126.596 71.94 114.687 60 99.997 60zm0 40.001c-7.345 0-13.299-5.971-13.299-13.333 0-7.364 5.954-13.334 13.299-13.334s13.3 5.97 13.3 13.334c0 7.362-5.955 13.333-13.3 13.333zm0-80.001C63.273 20 33.5 49.849 33.5 86.667 33.5 123.486 99.997 180 99.997 180S166.5 123.486 166.5 86.667C166.5 49.849 136.724 20 99.997 20zm0 140.001s-53.198-43.879-53.198-73.335c0-29.454 23.819-53.333 53.198-53.333 29.383 0 53.2 23.879 53.2 53.333 0 29.457-53.2 73.335-53.2 73.335z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </g>
            </svg>

            <h4>Location 04</h4>
            <p>
                500 Terry Francine Street<br />

                San Francisco, CA 94158<br />

                123-456-7890
            </p>
        </div>
        <br />

        <div class="location-tab">
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="33.5 20 133 160" viewBox="33.5 20 133 160" height="30" width="30" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" fill="red" aria-labelledby="comp-kp5l0k81-svgtitle_comp-kp5l0k81">
                <title id="comp-kp5l0k81-svgtitle_comp-kp5l0k81"></title>
                <g>
                    <path d="M99.997 60c-14.69 0-26.599 11.94-26.599 26.668 0 14.727 11.909 26.667 26.599 26.667s26.599-11.94 26.599-26.667C126.596 71.94 114.687 60 99.997 60zm0 40.001c-7.345 0-13.299-5.971-13.299-13.333 0-7.364 5.954-13.334 13.299-13.334s13.3 5.97 13.3 13.334c0 7.362-5.955 13.333-13.3 13.333zm0-80.001C63.273 20 33.5 49.849 33.5 86.667 33.5 123.486 99.997 180 99.997 180S166.5 123.486 166.5 86.667C166.5 49.849 136.724 20 99.997 20zm0 140.001s-53.198-43.879-53.198-73.335c0-29.454 23.819-53.333 53.198-53.333 29.383 0 53.2 23.879 53.2 53.333 0 29.457-53.2 73.335-53.2 73.335z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </g>
            </svg>

            <h4>Location 05</h4>
            <p>
                500 Terry Francine Street<br />

                San Francisco, CA 94158<br />

                123-456-7890
            </p>
        </div>

        <div class="location-tab">
                <svg preserveAspectRatio="xMidYMid meet" data-bbox="33.5 20 133 160" viewBox="33.5 20 133 160" height="30" width="30" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" fill="red" aria-labelledby="comp-kp5l0k81-svgtitle_comp-kp5l0k81">
                <title id="comp-kp5l0k81-svgtitle_comp-kp5l0k81"></title>
                <g>
                    <path d="M99.997 60c-14.69 0-26.599 11.94-26.599 26.668 0 14.727 11.909 26.667 26.599 26.667s26.599-11.94 26.599-26.667C126.596 71.94 114.687 60 99.997 60zm0 40.001c-7.345 0-13.299-5.971-13.299-13.333 0-7.364 5.954-13.334 13.299-13.334s13.3 5.97 13.3 13.334c0 7.362-5.955 13.333-13.3 13.333zm0-80.001C63.273 20 33.5 49.849 33.5 86.667 33.5 123.486 99.997 180 99.997 180S166.5 123.486 166.5 86.667C166.5 49.849 136.724 20 99.997 20zm0 140.001s-53.198-43.879-53.198-73.335c0-29.454 23.819-53.333 53.198-53.333 29.383 0 53.2 23.879 53.2 53.333 0 29.457-53.2 73.335-53.2 73.335z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </g>
            </svg>

            <h4>Location 06</h4>
            <p>
                500 Terry Francine Street<br />

                San Francisco, CA 94158<br />

                123-456-7890
            </p>
        </div>


        <div class="location-tab">
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="33.5 20 133 160" viewBox="33.5 20 133 160" height="30" width="30" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" fill="red" aria-labelledby="comp-kp5l0k81-svgtitle_comp-kp5l0k81">
                <title id="comp-kp5l0k81-svgtitle_comp-kp5l0k81"></title>
                <g>
                    <path d="M99.997 60c-14.69 0-26.599 11.94-26.599 26.668 0 14.727 11.909 26.667 26.599 26.667s26.599-11.94 26.599-26.667C126.596 71.94 114.687 60 99.997 60zm0 40.001c-7.345 0-13.299-5.971-13.299-13.333 0-7.364 5.954-13.334 13.299-13.334s13.3 5.97 13.3 13.334c0 7.362-5.955 13.333-13.3 13.333zm0-80.001C63.273 20 33.5 49.849 33.5 86.667 33.5 123.486 99.997 180 99.997 180S166.5 123.486 166.5 86.667C166.5 49.849 136.724 20 99.997 20zm0 140.001s-53.198-43.879-53.198-73.335c0-29.454 23.819-53.333 53.198-53.333 29.383 0 53.2 23.879 53.2 53.333 0 29.457-53.2 73.335-53.2 73.335z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </g>
            </svg>

            <h4>Location 07</h4>
            <p>
                500 Terry Francine Street<br />

                San Francisco, CA 94158<br />

                123-456-7890
            </p>
        </div>

        <div class="location-tab">
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="33.5 20 133 160" viewBox="33.5 20 133 160" height="30" width="30" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" fill="red" aria-labelledby="comp-kp5l0k81-svgtitle_comp-kp5l0k81">
                <title id="comp-kp5l0k81-svgtitle_comp-kp5l0k81"></title>
                <g>
                    <path d="M99.997 60c-14.69 0-26.599 11.94-26.599 26.668 0 14.727 11.909 26.667 26.599 26.667s26.599-11.94 26.599-26.667C126.596 71.94 114.687 60 99.997 60zm0 40.001c-7.345 0-13.299-5.971-13.299-13.333 0-7.364 5.954-13.334 13.299-13.334s13.3 5.97 13.3 13.334c0 7.362-5.955 13.333-13.3 13.333zm0-80.001C63.273 20 33.5 49.849 33.5 86.667 33.5 123.486 99.997 180 99.997 180S166.5 123.486 166.5 86.667C166.5 49.849 136.724 20 99.997 20zm0 140.001s-53.198-43.879-53.198-73.335c0-29.454 23.819-53.333 53.198-53.333 29.383 0 53.2 23.879 53.2 53.333 0 29.457-53.2 73.335-53.2 73.335z" clip-rule="evenodd" fill-rule="evenodd"></path>
                </g>
            </svg>

            <h4>Location 08</h4>
            <p>
                500 Terry Francine Street<br />

                San Francisco, CA 94158<br />

                123-456-7890
            </p>
        </div>

</div>

</div>



<div class="section-3">


    <h2>Frequently Asked Questions</h2>

    <hr class="faq-hr" />

    <div class="frequently-asked">
         <h4 >Frequently Asked Questions</h4>
         <div class="faq-tab">
             <p id="setting-up-faq">Setting up FAQs</p>
            <p>General</p>
         </div>
         <div class="faq-body">

           <div class="questions question-one">
                <h5>How do I add a new question & answer?</h5>
                <div class="question-contents">
                  <p>To add a new FAQ follow these steps:</p>
                  <p>
                    1. Click “Manage FAQs” button <br />

                    2. From your site’s dashboard you can add, edit and manage all your questions and answers <br />

                    3. Each question and answer should be added to a category <br />

                    4. Save and publish.<br />
                  </p>

                  <div class="social-logo-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Facebook</title><g><path d="M20 12a8 8 0 10-9.25 7.903v-5.59H8.719V12h2.031v-1.762c0-2.005 1.194-3.113 3.022-3.113.875 0 1.79.156 1.79.156V9.25h-1.008c-.994 0-1.304.617-1.304 1.25V12h2.219l-.355 2.313H13.25v5.59A8.002 8.002 0 0020 12" fill-rule="evenodd"></path></g></svg>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Twitter</title><g><path d="M18.123 7.081a3.34 3.34 0 001.44-1.838 6.556 6.556 0 01-2.08.808 3.259 3.259 0 00-3.605-.818 3.331 3.331 0 00-2.08 3.094c0 .254.03.508.085.757A9.277 9.277 0 015.12 5.607a3.3 3.3 0 00-.448 1.672 3.153 3.153 0 001.205 2.77 9.994 9.994 0 01-1.738-.416v.042c.113 1.63 1.304 2.973 2.89 3.262a2.461 2.461 0 01-1.29.056 3.319 3.319 0 003.093 2.311A6.464 6.464 0 014 16.681a9.23 9.23 0 009.52.334c2.995-1.66 4.858-4.844 4.859-8.304 0-.144-.011-.288-.011-.433A6.679 6.679 0 0020 6.558c-.596.27-1.23.446-1.877.523z" fill-rule="evenodd"></path></g></svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Linkedin</title><g><path d="M17.635 17.634h-2.372V13.92c0-.885-.016-2.024-1.234-2.024-1.235 0-1.423.965-1.423 1.96v3.778h-2.372V9.998h2.276v1.044h.033c.316-.6 1.09-1.233 2.245-1.233 2.403 0 2.847 1.58 2.847 3.637v4.188zM7.558 8.955a1.376 1.376 0 11.001-2.751 1.376 1.376 0 01-.001 2.751zm-1.187 8.679h2.374V9.998H6.371v7.636zM18.817 4H5.18C4.53 4 4 4.517 4 5.154v13.692C4 19.483 4.53 20 5.18 20h13.637c.652 0 1.183-.517 1.183-1.154V5.154C20 4.517 19.47 4 18.817 4z" fill-rule="evenodd"></path></g></svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Copy Question Link</title><g><path id="prefix__b" d="M13.095 10.287l.137.142c1.505 1.63 1.678 4.01.282 5.406l-2.093 2.093-.137.13c-1.472 1.35-3.537 1.325-5.075-.213-1.59-1.59-1.593-3.774-.12-5.248l1.685-1.683.942.942-1.684 1.683-.106.112c-.845.944-.804 2.223.225 3.252 1.06 1.061 2.364 1.047 3.328.083l2.093-2.093.09-.097c.773-.895.595-2.463-.509-3.567l.942-.942zm-.38-4.31c1.473-1.348 3.538-1.324 5.076.214 1.59 1.59 1.593 3.774.12 5.248l-1.685 1.684-.942-.942 1.684-1.684.106-.112c.845-.944.804-2.223-.225-3.252-1.06-1.06-2.364-1.047-3.328-.083l-2.093 2.093-.09.097c-.773.895-.595 2.463.509 3.567l-.942.942-.137-.142c-1.505-1.63-1.678-4.01-.282-5.406l2.093-2.093z"></path></g></svg></span>
                  </div>
                </div>
                <hr>
           </div>

            <div class="questions question-two">
                <h5>Can I insert an image, video, or gif in my FAQ?</h5>
                <div class="question-contents">
                    <p>Yes. To add media follow these steps:</p>
                    <p>
                        1. Enter the app’s Settings <br />

                        2. Click on the “Manage FAQs” button <br />

                        3. Select the question you would like to add media to <br />

                        4. When editing your answer click on the camera, video, or GIF icon <br />

                        5. Add media from your library.<br />
                    </p>

                    <div class="social-logo-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Facebook</title><g><path d="M20 12a8 8 0 10-9.25 7.903v-5.59H8.719V12h2.031v-1.762c0-2.005 1.194-3.113 3.022-3.113.875 0 1.79.156 1.79.156V9.25h-1.008c-.994 0-1.304.617-1.304 1.25V12h2.219l-.355 2.313H13.25v5.59A8.002 8.002 0 0020 12" fill-rule="evenodd"></path></g></svg>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Twitter</title><g><path d="M18.123 7.081a3.34 3.34 0 001.44-1.838 6.556 6.556 0 01-2.08.808 3.259 3.259 0 00-3.605-.818 3.331 3.331 0 00-2.08 3.094c0 .254.03.508.085.757A9.277 9.277 0 015.12 5.607a3.3 3.3 0 00-.448 1.672 3.153 3.153 0 001.205 2.77 9.994 9.994 0 01-1.738-.416v.042c.113 1.63 1.304 2.973 2.89 3.262a2.461 2.461 0 01-1.29.056 3.319 3.319 0 003.093 2.311A6.464 6.464 0 014 16.681a9.23 9.23 0 009.52.334c2.995-1.66 4.858-4.844 4.859-8.304 0-.144-.011-.288-.011-.433A6.679 6.679 0 0020 6.558c-.596.27-1.23.446-1.877.523z" fill-rule="evenodd"></path></g></svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Linkedin</title><g><path d="M17.635 17.634h-2.372V13.92c0-.885-.016-2.024-1.234-2.024-1.235 0-1.423.965-1.423 1.96v3.778h-2.372V9.998h2.276v1.044h.033c.316-.6 1.09-1.233 2.245-1.233 2.403 0 2.847 1.58 2.847 3.637v4.188zM7.558 8.955a1.376 1.376 0 11.001-2.751 1.376 1.376 0 01-.001 2.751zm-1.187 8.679h2.374V9.998H6.371v7.636zM18.817 4H5.18C4.53 4 4 4.517 4 5.154v13.692C4 19.483 4.53 20 5.18 20h13.637c.652 0 1.183-.517 1.183-1.154V5.154C20 4.517 19.47 4 18.817 4z" fill-rule="evenodd"></path></g></svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Copy Question Link</title><g><path id="prefix__b" d="M13.095 10.287l.137.142c1.505 1.63 1.678 4.01.282 5.406l-2.093 2.093-.137.13c-1.472 1.35-3.537 1.325-5.075-.213-1.59-1.59-1.593-3.774-.12-5.248l1.685-1.683.942.942-1.684 1.683-.106.112c-.845.944-.804 2.223.225 3.252 1.06 1.061 2.364 1.047 3.328.083l2.093-2.093.09-.097c.773-.895.595-2.463-.509-3.567l.942-.942zm-.38-4.31c1.473-1.348 3.538-1.324 5.076.214 1.59 1.59 1.593 3.774.12 5.248l-1.685 1.684-.942-.942 1.684-1.684.106-.112c.845-.944.804-2.223-.225-3.252-1.06-1.06-2.364-1.047-3.328-.083l-2.093 2.093-.09.097c-.773.895-.595 2.463.509 3.567l-.942.942-.137-.142c-1.505-1.63-1.678-4.01-.282-5.406l2.093-2.093z"></path></g></svg></span>
                    </div>
                </div>
                <hr>
            </div>

            <div class="questions question-three">
                <h5>How do I edit or remove the “FAQ” title?</h5>
                <div class="question-contents">
                 <p>
                        You can edit the title from the Settings tab in the app. <br />

                        If you don’t want to display the title, simply disable the Title under “Info to Display”.
                 </p>
                  <div class="social-logo-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Facebook</title><g><path d="M20 12a8 8 0 10-9.25 7.903v-5.59H8.719V12h2.031v-1.762c0-2.005 1.194-3.113 3.022-3.113.875 0 1.79.156 1.79.156V9.25h-1.008c-.994 0-1.304.617-1.304 1.25V12h2.219l-.355 2.313H13.25v5.59A8.002 8.002 0 0020 12" fill-rule="evenodd"></path></g></svg>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Twitter</title><g><path d="M18.123 7.081a3.34 3.34 0 001.44-1.838 6.556 6.556 0 01-2.08.808 3.259 3.259 0 00-3.605-.818 3.331 3.331 0 00-2.08 3.094c0 .254.03.508.085.757A9.277 9.277 0 015.12 5.607a3.3 3.3 0 00-.448 1.672 3.153 3.153 0 001.205 2.77 9.994 9.994 0 01-1.738-.416v.042c.113 1.63 1.304 2.973 2.89 3.262a2.461 2.461 0 01-1.29.056 3.319 3.319 0 003.093 2.311A6.464 6.464 0 014 16.681a9.23 9.23 0 009.52.334c2.995-1.66 4.858-4.844 4.859-8.304 0-.144-.011-.288-.011-.433A6.679 6.679 0 0020 6.558c-.596.27-1.23.446-1.877.523z" fill-rule="evenodd"></path></g></svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Linkedin</title><g><path d="M17.635 17.634h-2.372V13.92c0-.885-.016-2.024-1.234-2.024-1.235 0-1.423.965-1.423 1.96v3.778h-2.372V9.998h2.276v1.044h.033c.316-.6 1.09-1.233 2.245-1.233 2.403 0 2.847 1.58 2.847 3.637v4.188zM7.558 8.955a1.376 1.376 0 11.001-2.751 1.376 1.376 0 01-.001 2.751zm-1.187 8.679h2.374V9.998H6.371v7.636zM18.817 4H5.18C4.53 4 4 4.517 4 5.154v13.692C4 19.483 4.53 20 5.18 20h13.637c.652 0 1.183-.517 1.183-1.154V5.154C20 4.517 19.47 4 18.817 4z" fill-rule="evenodd"></path></g></svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Copy Question Link</title><g><path id="prefix__b" d="M13.095 10.287l.137.142c1.505 1.63 1.678 4.01.282 5.406l-2.093 2.093-.137.13c-1.472 1.35-3.537 1.325-5.075-.213-1.59-1.59-1.593-3.774-.12-5.248l1.685-1.683.942.942-1.684 1.683-.106.112c-.845.944-.804 2.223.225 3.252 1.06 1.061 2.364 1.047 3.328.083l2.093-2.093.09-.097c.773-.895.595-2.463-.509-3.567l.942-.942zm-.38-4.31c1.473-1.348 3.538-1.324 5.076.214 1.59 1.59 1.593 3.774.12 5.248l-1.685 1.684-.942-.942 1.684-1.684.106-.112c.845-.944.804-2.223-.225-3.252-1.06-1.06-2.364-1.047-3.328-.083l-2.093 2.093-.09.097c-.773.895-.595 2.463.509 3.567l-.942.942-.137-.142c-1.505-1.63-1.678-4.01-.282-5.406l2.093-2.093z"></path></g></svg></span>
                  </div>
                </div>
                <hr>
           </div>


         </div>



        <div class="questions question-General">
            <h5>What is an FAQ section?</h5>
            <div class="question-contents">
                <p>
                    An FAQ section can be used to quickly answer common questions about you or your business, such as “Where do you ship to?”, “What are your opening hours?” or “How can I book a service?” <br />

                    It’s a great way to help people navigate your site and can even boost your site’s SEO. <br />
                </p>
                <img src="~/images/LadyInOffice.webp" />

                <div class="social-logo-container"> <br /> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Facebook</title><g><path d="M20 12a8 8 0 10-9.25 7.903v-5.59H8.719V12h2.031v-1.762c0-2.005 1.194-3.113 3.022-3.113.875 0 1.79.156 1.79.156V9.25h-1.008c-.994 0-1.304.617-1.304 1.25V12h2.219l-.355 2.313H13.25v5.59A8.002 8.002 0 0020 12" fill-rule="evenodd"></path></g></svg>
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Twitter</title><g><path d="M18.123 7.081a3.34 3.34 0 001.44-1.838 6.556 6.556 0 01-2.08.808 3.259 3.259 0 00-3.605-.818 3.331 3.331 0 00-2.08 3.094c0 .254.03.508.085.757A9.277 9.277 0 015.12 5.607a3.3 3.3 0 00-.448 1.672 3.153 3.153 0 001.205 2.77 9.994 9.994 0 01-1.738-.416v.042c.113 1.63 1.304 2.973 2.89 3.262a2.461 2.461 0 01-1.29.056 3.319 3.319 0 003.093 2.311A6.464 6.464 0 014 16.681a9.23 9.23 0 009.52.334c2.995-1.66 4.858-4.844 4.859-8.304 0-.144-.011-.288-.011-.433A6.679 6.679 0 0020 6.558c-.596.27-1.23.446-1.877.523z" fill-rule="evenodd"></path></g></svg></span>
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Linkedin</title><g><path d="M17.635 17.634h-2.372V13.92c0-.885-.016-2.024-1.234-2.024-1.235 0-1.423.965-1.423 1.96v3.778h-2.372V9.998h2.276v1.044h.033c.316-.6 1.09-1.233 2.245-1.233 2.403 0 2.847 1.58 2.847 3.637v4.188zM7.558 8.955a1.376 1.376 0 11.001-2.751 1.376 1.376 0 01-.001 2.751zm-1.187 8.679h2.374V9.998H6.371v7.636zM18.817 4H5.18C4.53 4 4 4.517 4 5.154v13.692C4 19.483 4.53 20 5.18 20h13.637c.652 0 1.183-.517 1.183-1.154V5.154C20 4.517 19.47 4 18.817 4z" fill-rule="evenodd"></path></g></svg></span>
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-labelledby="svg847ca3f0-5b64-474e-b5f3-411365f893b6"><title id="svg847ca3f0-5b64-474e-b5f3-411365f893b6">Copy Question Link</title><g><path id="prefix__b" d="M13.095 10.287l.137.142c1.505 1.63 1.678 4.01.282 5.406l-2.093 2.093-.137.13c-1.472 1.35-3.537 1.325-5.075-.213-1.59-1.59-1.593-3.774-.12-5.248l1.685-1.683.942.942-1.684 1.683-.106.112c-.845.944-.804 2.223.225 3.252 1.06 1.061 2.364 1.047 3.328.083l2.093-2.093.09-.097c.773-.895.595-2.463-.509-3.567l.942-.942zm-.38-4.31c1.473-1.348 3.538-1.324 5.076.214 1.59 1.59 1.593 3.774.12 5.248l-1.685 1.684-.942-.942 1.684-1.684.106-.112c.845-.944.804-2.223-.225-3.252-1.06-1.06-2.364-1.047-3.328-.083l-2.093 2.093-.09.097c-.773.895-.595 2.463.509 3.567l-.942.942-.137-.142c-1.505-1.63-1.678-4.01-.282-5.406l2.093-2.093z"></path></g></svg></span>
                </div>
            </div>
            <hr>
        </div>

    </div>
   

</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

