


<link href="@Url.Content("~/css/ShippingReturns.css")" rel="stylesheet" type="text/css" />


<div class="main_container" id="main-container">

    <div class="conditions">
        <div id="Terms-Section" class="terms-header">
            Terms & Conditions
        </div>
        <div class="the-customerCare">
            <div class="the-customer">
                <div class="customer-header">
                    Customer Care 
                </div>
                <div class="talks">
                    <p>
                        I’m a Customer Care section. I’m a great place to write a long text <br>
                        about your company and your services, and, most importantly, how<br>
                        to contact your store with queries. Writing a detailed Customer Care <br>
                        policy is a great way to build trust and reassure your customers that<br>
                        they can buy with confidence.
                        
                    </p>
                    <p>
                        I'm the second paragraph in your Customer Care section. Click here <br>
                        to add your own text and edit me. It’s easy. Just click “Edit Text” or<br>
                        double click me to add details about your policy and make changes <br>
                        to the font. I’m a great place for you to tell a story and let your users<br>
                        know a little more about you.
                    </p>
                </div>
            </div>
            <div class="safety">
                <div class="privacy-header">
                    Privacy & Safety
                </div>
                <div class="talks">
                    <p>
                        I’m a return policy section. I’m a great place to let your customers <br>
                        know what to do in case they’ve changed their mind about their<br>
                        purchase, or if they’re dissatisfied with a product. Having a <br>
                        straightforward refund or exchange policy is a great way to build<br>
                        trust and reassure your customers that they can buy with confidence.
                        
                    </p>
                    <p>
                        I'm the second paragraph in your Return & Exchange policy. Click<br>
                        here to add your own text and edit me. It’s easy. Just click “Edit <br>
                        Text” or double click me to add details about your policy and make<br>
                        changes to the font. I’m a great place for you to tell a story and let<br>
                        your users know a little more about you.
                        
                    </p>

                </div>
            </div>
        </div>

        
        <div id="payment-section" class="the-paymentMethods">
            <div class="the-payment">
                <div class="payment-header">
                    Payment Methods
                </div>
                <div class="talks">
                    <ul>
                        <li> Credit / Debit Cards </li>
                        <li> PAYPAL </li>
                        <li> Offline Payments </li>
                    </ul>
                </div>
            </div>
            <div class="wholesale">
                <div class="wholesale-header">
                    Wholesale Inquiries
                </div>
                <div class="talks">
                    <p>
                        I’m a return policy section. I’m a great place to let your customers <br>
                        know what to do in case they’ve changed their mind about their<br>
                        purchase, or if they’re dissatisfied with a product. Having a <br>
                        straightforward refund or exchange policy is a great way to build<br>
                        trust and reassure your customers that they can buy with confidence.
                        
                    </p>
                    <p>
                        I'm the second paragraph in your Return & Exchange policy. Click<br>
                        here to add your own text and edit me. It’s easy. Just click “Edit <br>
                        Text” or double click me to add details about your policy and make<br>
                        changes to the font. I’m a great place for you to tell a story and let<br>
                        your users know a little more about you.   
                    </p>

                </div>
            </div>
        </div>
    </div>  
</div>

<script src="~/js/site.js"></script>