@model IEnumerable<RestaurantFrontend.Models.Policy.PolicyAndTerms>


<link href="@Url.Content("~/css/ShippingReturns.css")" rel="stylesheet" type="text/css" />


<div class="main_container">



    <div id="shipping-section" class="shipping-returns">
        <div class="the-header">
            Shipping & Returns
        </div>
        <div class="term"> 
        <div class="the-terms" id="the-terms">
            <div class="shipping">
                <div class="ship-header">
                    Shipping Policy
                </div>
                <div class="talks">
                    <p>
                        I’m a Shipping Policy section. I’m a great place to update your <br>
                        customers about your shipping methods, packaging and costs. Use<br>
                        plain, straightforward language to build trust and make sure that <br>
                        your customers stay loyal!
                    </p>
                    <p>
                        I'm the second paragraph in your Shipping Policy section. Click here <br>
                        to add your own text and edit me. It’s easy. Just click “Edit Text” or<br>
                        double click me to add details about your policy and make changes <br>
                        to the font. I’m a great place for you to tell a story and let your users<br>
                        know a little more about you.
                    </p>
                </div>
            </div>
            <div class="returns">
                <div class="returns-header">
                    Return & Exchange Policy
                </div>
                <div class="talks">
                    <p>
                        I’m a return policy section. I’m a great place to let your customers <br>
                        know what to do in case they’ve changed their mind about their<br>
                        purchase, or if they’re dissatisfied with a product. Having a <br>
                        straightforward refund or exchange policy is a great way to build<br>
                        trust and reassure your customers that they can buy with confidence.
                    </p>
                    <p>
                        I'm the second paragraph in your Return & Exchange policy. Click<br>
                        here to add your own text and edit me. It’s easy. Just click “Edit <br>
                        Text” or double click me to add details about your policy and make<br>
                        changes to the font. I’m a great place for you to tell a story and let<br>
                        your users know a little more about you.
                    </p>

                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>