


<div class="cart-main-container">
    <div class="cart-cards">
        <div class="cart-main-content">

            <div class=" cart-image-container">
                <img width="90" height="150" src="~/images/Hass_Avocados.png" />
            </div>
            <div>

                <p class="card-name-tag">Hass Avocados, Ready-to-Eat -1lb</p>
                <div class="card-price-container">
                    <span class="card-price-discount">N2.99</span>
                    <span class="card-price-tag">N2.69</span>
                </div>
                <div class="cart-count-container">
                    <span>-</span>
                    <span>2</span>
                    <span>+</span>
                </div>
            </div>
        </div>

    </div>

    <div class="cart-footer-container">

        <div class="cart-subtotal-container">
            <h1>Subtotal</h1>
            <h1>N22.53</h1>

        </div>


        <div class="cart-button-container">

            <a class="cart-view-button show-cart-items-button">View Cart</a>
        </div>



    </div>
</div>



<style>


    .cart-cards {
        max-height: 10em;
        overflow-y: auto;
    }

    .cart-image-container {
        margin-right: 2rem;
    }

    .card-name-tag {
        margin-top: 2rem;
        max-width: 10rem;
        margin-bottom: 0;
    }

    .cart-main-content {
        display: flex;
        justify-content: space-between;
    }

    .cart-count-container {
        border: 1px solid black;
        width: fit-content;
        display: flex;
        justify-content: space-evenly;
        min-width: 4rem;
    }

    .cart-count-container span {
        cursor:pointer;
     }

    .cart-subtotal-container h1 {
        font-size: 2rem;
        font-weight: 300;
        color: black;
    }

    .cart-button-container {
        padding-top: 6rem;
    }


    .cart-view-button {
        background-color: red;
        padding: 0.5rem 6.5rem;
        border-radius: 25px;
        color: white;
        text-decoration: none;
        font-weight: 600;
    }


    .cart-footer-container {
        position: absolute;
        bottom: 1rem;
        background-color: white;
    }

</style>