@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.container {
    width: 100%;
    margin-top: 3rem;
}

    .container h1 {
        font-size: 50px
    }

.aboutus {
    padding: 5% 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: -5rem;
}

    .aboutus .left {
        padding: 2% 0;
        float: left;
        width: 50%;
        display: inline-block;
    }

    .aboutus .right {
        width: 50%;
        display: inline-block;
    }

        .aboutus .right img {
            width: 100%;
            margin-top: 2rem;
            height: 55vh;
            
        }

    .aboutus .left h1 {
        text-align: center;
        color: #8c0303;
        margin: 0 0 10px 0;
    }

    .aboutus .left hr {
        width: 20%;
        border-top: 2px solid #000;
        border-bottom: none;
    }

    .aboutus .left p {
        font-size: 1rem;
        margin: 20px auto;
        width: 80%
    }

.mission {
    padding: 5% 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: -5rem;
}

    .mission .right {
        padding: 2% 0;
        width: 50%;
        display: inline-block;
    }

    .mission .left {
        float: left;
        width: 50%;
        display: inline-block;
    }

        .mission .left img {
            width: 100%;
            margin-top: 2rem;
            height: 50vh;
        }

    .mission .right h1 {
        text-align: center;
        color: #8c0303;
        margin: 0 0 20px 0;
    }

    .mission .right hr {
        width: 35%;
        border-top: 2px solid #000;
        border-bottom: none;
    }

    .mission .right p {
        font-size: 1rem;
        margin: 30px auto;
        width: 80%
    }

.ourteam {
    color: #8c0303;
    text-align: center;
}


.team {
    width: 90%;
    margin-left: 3rem;
    margin-top: -5rem;
    padding: 5% 5%;
    over-flow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: -4rem;
}



    .team h1 {
        text-align: center;
        color: #1EADFF;
        margin-right: 2rem;
    }

        .team h1 hr {
            width: 15%;
            border-top: 2px solid #000;
            background-color: transperant;
            border-bottom: none;
            margin-bottom: 50px;
        }

    .team .card {
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;
        min-width: 20%;
        height: 300px !important;
        height: auto;
        background-color: #fff;
        display: inline-block;
        margin: 40px 6.5%;
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
        text-align: center;
        border-radius: 2rem;
    }


.card img {
    position: relative;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    margin: auto;
}

.card:hover {
    cursor: pointer;
    background: #8c0303;
    transition: 3s;
    color: #fff;
}

.card h5:hover{
    color: #fff;
    transition: 3s;
}
.circle-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    font-size: 60px;
}

.team .card h4 {
    text-align: center;
    margin: 10px 0 0 0;
}

.team .card h5 {
    text-align: center;
    margin: 3px 0 0 0;
}

.team .card p {
    font-size: 2px;
    width: 250px;
    margin: 4px auto;
    text-align: center;
}

.clear {
    clear: both;
}

@media(max-width:1200px) {
    .mission .right p {
        font-size: .8rem;
        margin: 20px auto;
    }

    .about .left p {
        font-size: .8rem;
        margin: 20px auto;
    }








    @media(max-width:992px) {
        .about .left {
            width: 100%;
        }

        .about .right {
            width: 100%;
        }

        .mission .left {
            width: 100%;
        }

        .mission .right {
            width: 100%;
        }

        .team .card {
            width: 40%;
        }
    }

    @media(max-width:768px) {
        .team .card {
            width: 100%;
        }

        nav {
            height: 80px;
        }
    }
}
