
body {
    font-family: Arial, sans-serif;
}

#main-containerss {
    display: flex;
    padding-left: 2rem;
}

#popular {
    font-weight: 600;
    margin-top: 2rem;
    font-size: 5rem;
    /*margin-left: 19rem;*/
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign {
    display: flex;
    border: solid 1px;
    height: 2.5rem;
    width: 6.7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.plus {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    margin-top: 5.5px;
}


.one {
    font-size: 1rem;
    margin-left: 1.5rem;
    margin-top: 8px;
}

.minus {
    font-size: 1.5rem;
    margin-left: 8px;
    margin-top: 4px;
}

#most-popular:hover {
    cursor: pointer;
    background-color: brown;
}

/*.main-container {
    display: flex;
}
*/
.card-content {
    display: flex;
}

.filters a {
    white-space: nowrap;
}

.filters h4 {
    margin-right: 7rem;
    white-space: nowrap;
}

.filters {
    padding-right: 25px;
}

.hidden {
    display: none;
}


.filter-tab {
    display: flex;
}


.category {
    margin-right: 40px;
    cursor: pointer;
}
.price {
    margin-right: 40px;
    cursor: pointer;
}

/*p {
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}*/

p {
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}

#targetDiv a:hover {
    color: #d7d3d3;
    cursor: pointer;
    font-size: 18px;
}

h4 {
    color: #000000;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
}

#card-title {
    margin-top: -3rem;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


#number {
    margin-top: -3rem;
    font-size: 15px;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}

/*#card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}*/

#price {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: red;
    margin-bottom: 0;
}

.filter-content {
    width: 20%;
    height: 20%;
}

.filter-content a{
    text-decoration: none;
    color: #333 !important;
}

#all {
    text-decoration: none;
}

.counter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    height: 40px;
    margin-bottom: -20%;
}

.decrementBtn {
    font-size: 25px;
    height: 4vh;
}

.incrementBtn {
    font-size: 25px;
}

/*card-text-dollar {
    font-size: 20px;
    font-weight: 600;
    height: 4vh;
    margin-top: 30rem;
}*/

.count {
    margin-top: 1.5rem;
    font-size: 20px;
}

button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

#count {
    margin: 0 10px;
}

.faded {
    opacity: 0.5;
}

/*.add-to-cart-btn {
    margin-top: -20px;
    border-radius: 20px;
}*/

/*.card-text {
    height: 4vh;
    margin-top: -3rem;
    margin-bottom: 2.5rem;
}*/

/*.add-to-cart-btn {
    padding-left: 18px;
    padding-right: 2rem;
    margin-top: -20px;
    border-radius: 20px;
}*/

/*.bool-label {
    border-radius: 15px;
    width: 7rem;
    height: 2rem;
    margin-left: 1rem;
    padding-left: 8px;
    margin-top: 9px;
    background-color: red;
    color: white;
    padding-top: 5px;
    border-style: none;
}*/



input {
    margin: 0.4rem;
}

/*
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-right: 4rem;
}

.dropdown-btn {
    padding: 8px 12px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    display: none;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: none;
}

    .dropdown-menu a {
        display: block;
        padding: 8px 12px;
        color: #333;
        text-decoration: none;
    }

 .dropdown-menu a:hover {
  background-color: #fff;
 }*/
