@*@model IEnumerable<RestaurantFrontend.Models.Products.Products>

@{
    ViewData["Title"] = "List of Products";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<link href="@Url.Content("~/css/Products.css")" rel="stylesheet" type="text/css" />

<div class="main-section">
    <div class="header"><h1>Pastas & Grains</h1></div>
    <div class="d-flex justify-content-around">

        <div class="filter-container">
            <div class="d-flex flex-column mb-3">

                <div class="p-2">
                    Filter by
                </div>

                <div class="line-divider"></div>

                <div class="dropdown">
                    <button id="dropdownButton1" class="dropdown-btn">
                        <span class="category-text">Category</span>
                        <span class="text-icon" id="dropdownIcon1"><i class="bi bi-plus"></i></span>
                    </button>
                    <div id="dropdownMenu1" class="dropdown-menu">
                        <a href="#">All</a>
                        <a href="#">Deals</a>
                        <a href="#">Most Popular</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button id="dropdownButton2" class="dropdown-btn">
                        <span class="category-text">Price</span>
                        <span class="text-icon" id="dropdownIcon2"><i class="bi bi-plus"></i></span>
                    </button>
                    <div id="dropdownMenu2" class="dropdown-menu">
                        <div class="price-range-slider">

                            <p class="range-value">
                                <input type="text" id="amount" readonly>
                            </p>
                            <div id="slider-range" class="range-bar"></div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row g-4 justify-content-end">
            @foreach (var item in Model)
            {
                @if (item.Tag == "Fruit")
                {
                    <div class="col-md-3 col-sm-6 border-primary" style="max-width: 180px;">
                        <div class="card">
                            <img src="@item.Image" class="card-img-top" alt="" />
                            <div class="card-body">
                                <p class="card-text">@item.Name</p>
                                <p class="card-text-dollar text-danger"> @item.Price</p>

                                <div class="counter-container">
                                    <button class="decrementBtn faded"><i class="bi bi-dash"></i></button>
                                    <p class="count">1</p>
                                    <button class="incrementBtn"><i class="bi bi-plus"></i></button>
                                </div>

                            </div>
                            <a class="btn btn-dark text-white add-to-cart-btn m-3"> Add to Cart</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<script src="~/js/Products.js" asp-append-version="true"></script>*@


