@model RestaurantFrontend.Models.RegistrationPage.CombineLogin_Registration

@{
    Layout = "";
    ViewData["Title"] = "RegistrationPage";
}
 
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/Registration.css"  />
<link rel="stylesheet" href="~/RestaurantFrontend.styles.css"  />

<div class="registration-container">

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form asp-action="Registration" asp-controller="Authentication" method="post">
            <h2>Create Account</h2>
            <span class=" span">Please kindly create an account with us.</span>
            <div class="form-group">
                <input asp-for="Registration.FirstName" class=" input" placeholder="First Name" />
                <span asp-validation-for="Registration.FirstName" class="text-danger span"></span>
            </div>
                <div class="form-group">
                    <input asp-for="Registration.LastName" class=" input" placeholder="Last Name" />
                    <span asp-validation-for="Registration.LastName" class="text-danger span"></span>
                </div>
            <div class="form-group">
                <input asp-for="Registration.Email" class=" input" placeholder="Email" />
                <span asp-validation-for="Registration.Email" class="text-danger span"></span>
            </div>
            <div class="form-group">
                <input asp-for="Registration.Password" class="input" placeholder="Password" type="password"/>
                <span asp-validation-for="Registration.Password" class="text-danger span"></span>
            </div>
            <button type="submit">Sign Up</button>
               
            <div class="social-container">
                <a href="https://www.facebook.com" class="social">
                    <img src="/images/facebook1-f.svg" width="20px" height="20px" alt="Facebook" />
                </a>
                    <a href="https://accounts.google.com/signup" class="social">
                        <img src="/images/google.svg" width="20px" height="20px" alt="Google" />
                    </a>
                <a href="https://www.linkedin.com" class="social">
                    <img src="/images/linkedin.svg" width="20px" height="20px" alt="LinkedIn" />
                </a>
            </div>

        </form>
    </div>
    <div class="form-container sign-in-container">
        <form asp-action="Login" asp-controller="Authentication" method="post">
            <span class=" span">Please kindly Login your account</span>
            <div class="form-group">
                <input asp-for="Login.Email" class=" input" placeholder="Email" />
                <span asp-validation-for="Login.Email" class="text-danger span"></span>
            </div>
            <div class="form-group">
                <input asp-for="Login.Password" class=" input" placeholder="Password" />
                <span asp-validation-for="Login.Password" class="text-danger span"></span>
            </div>

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger validationSpan mt-2 mb-2">
                        @ViewBag.ErrorMessage
                    </div>
                }

               @* @if (!string.IsNullOrEmpty(ViewBag.RegisterErrorMessage))
                {
                    <div class="alert alert-danger validationSpan mt-2 mb-2">
                        @ViewBag.ErrorMessage
                    </div>
                }*@

            <a class="a" href="#">Forgot your password?</a>
            <button type="submit">Sign In</button>

            <div class="social-container">
                <a href="https://www.facebook.com" class="social">
                    <img src="/images/facebook1-f.svg" width="20px" height="20px" alt="Facebook" />
                </a>
                <a href="https://accounts.google.com/signup" class="social">
                    <img src="/images/google.svg" width="20px" height="20px" alt="Google" />
                </a>
                <a href="https://www.linkedin.com" class="social">
                    <img src="/images/linkedin.svg" width="20px" height="20px" alt="LinkedIn" />
                </a>
            </div>


        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Script.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>