@model IEnumerable<RestaurantFrontend.Models.Products.Products>

@{
    ViewData["Title"] = "Most Popular";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


<link href="@Url.Content("~/css/BestDeal.css")" rel="stylesheet" type="text/css" />

<div class="d-flex justify-content-center">

</div>


<div class="main-container mt-5" id="main-containerss">

    <div class="filters">
        <h4>Filter by</h4>
        <hr />
        <div class="filter-tab" id="toggleButton">
            <p class="category">Category</p>

            <p class="category-minus" id="signDiv">-</p>

        </div>

        <div class="filter-content" id="targetDiv">

            <a asp-controller="BestDealProduct" asp-action="AllBestDealProduct" id="all"> All</a><br />

            <a asp-controller="BestDealProduct" asp-action="VegetableBestDealProduct">Vegetables</a><br />
            <a asp-controller="BestDealProduct" asp-action="FruitBestDealProduct"> Fruit</a><br />
            <a asp-controller="BestDealProduct" asp-action="Meat_PoultryBestDealProduct">Meat & Poultry</a><br />
            <a asp-controller="BestDealProduct" asp-action="Fish_SeafoodBestDealProduct"> Fish & Seafood</a><br />
            <a asp-controller="BestDealProduct" asp-action="Dairy_EggsBestDealProduct"> Dairy & Eggs</a><br />
            <a asp-controller="BestDealProduct" asp-action="BakeryBestDealProduct">Bakery</a><br />
            <a asp-controller="BestDealProduct" asp-action="Pastas_GrainsBestDealProduct">Pastas & Grains</a><br />
            <a asp-controller="BestDealProduct" asp-action="Cereals_SnacksBestDealProduct">Cereals & Snacks</a><br />
            <a asp-controller="BestDealProduct" asp-action="TeaBestDealProduct">Tea</a><br />
            <a asp-controller="BestDealProduct" asp-action="CoffeeBestDealProduct">Coffee</a><br />
            <a asp-controller="BestDealProduct" asp-action="SoftDrinksBestDealProduct">Soft Drinks</a><br />
            <a asp-controller="BestDealProduct" asp-action="BeersBestDealProduct">Beer</a><br />
            <a asp-controller="BestDealProduct" asp-action="WineBestDealProduct">Wine</a><br />
            <a asp-controller="BestDealProduct" asp-action="Home_KitchenBestDealProduct">Home & Kitchen</a><br />
            <a asp-controller="BestDealProduct" asp-action="Cleaning_SuppliesBestDealProduct">Cleaning Supplies</a><br />
            <a asp-controller="BestDealProduct" asp-action="Personal_Hygiene">Personal Hygiene</a><br />
            <a asp-controller="BestDealProduct" asp-action="BabiesBestDealProduct">Babies</a><br />

        </div>


    </div>


    <div class="row g-4 justify-content-center" style="width: 80.8%">

        <div class="d-flex justify-content-center mt-5">
            <h1 class="text-danger mt-lg-5 p-5">No Product Found</h1>
        </div>
    </div>
</div>






<script>
    function toggleDiv() {
        const targetDiv = document.getElementById("targetDiv");
        const signDiv = document.getElementById("signDiv");


        if (targetDiv.classList.contains("hidden")) {
            targetDiv.classList.remove("hidden");
            signDiv.innerHTML = "-";
        } else {
            targetDiv.classList.add("hidden");
            signDiv.innerHTML = "+";
        }
    }

    const toggleButton = document.getElementById("toggleButton");
    toggleButton.addEventListener("click", toggleDiv);



    function handleDecrementClick(countElement) {
        const currentCount = parseInt(countElement.textContent);
        if (currentCount > 1) {
            countElement.textContent = currentCount - 1;
        }
        if (currentCount === 2) {
            countElement.previousElementSibling.classList.add('faded');
        }
    }

    function handleIncrementClick(countElement) {
        const currentCount = parseInt(countElement.textContent);
        countElement.textContent = currentCount + 1;
        if (currentCount === 1) {
            countElement.previousElementSibling.classList.remove('faded');
        }
    }


    const counterContainers = document.querySelectorAll('.counter-container');
    counterContainers.forEach(container => {
        const countElement = container.querySelector('.count');
        const decrementBtn = container.querySelector('.decrementBtn');
        const incrementBtn = container.querySelector('.incrementBtn');

        decrementBtn.addEventListener('click', function () {
            handleDecrementClick(countElement);
        });

        incrementBtn.addEventListener('click', function () {
            handleIncrementClick(countElement);
        });
    });



    function toggleDiv() {
        const targetDiv = document.getElementById("targetDiv");
        const signMinus = document.getElementById("signMinus");


        if (targetDiv.classList.contains("hidden")) {
            targetDiv.classList.remove("hidden");
            signMinus.innerHTML = "-";
        } else {
            targetDiv.classList.add("hidden");
            signMinus.innerHTML = "+";
        }
    }

    const toggleButtons = document.getElementById("toggleButtons");
    toggleButtons.addEventListener("click", toggleDiv);



    defaultValue =
        rangeElem.max < rangeElem.min
            ? rangeElem.min
            : rangeElem.min + (rangeElem.max - rangeElem.min) / 2;

</script>
<script src="~/js/site.js"></script>



